.animationContainer {
  position: relative;
  width: 100%;
  height: 100%;

  .holder {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .animate {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://img.alicdn.com/imgextra/i2/O1CN01zpsELl1jRewOmKX3R_!!6000000004545-0-tps-252-8064.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}
